.cards {
  padding-top: 20px;
  

}

.cards__list {
  list-style-type: none;  
  padding: 0x;
  padding-left: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr);
  justify-content: center;
  gap: 40px 20px;
  
}

@media screen and (min-width: 1280px) {
   .cards__list {
    grid-template-columns: repeat(3, 1fr);
    
  }
  
}